<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/"><span style="color:red">Book</span>SHOP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Каталог
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav mr-auto">
          {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">{{ user.username }}</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">Избранное</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="#">Корзина</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'logout' %}">Выйти</a>
              </li>
          {% else %}
              <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'login' %}">Войти</a>
              </li>
              <li class="nav-link text-white"> | </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="">Регистрация</a>
              </li>
          {% endif %}

      </ul>
    </div>
  </div>
</nav>
